##########################
# macOS system files
##########################
.DS_Store
.AppleDouble
.LSOverride

# Icon files
##########################
Icon?
._*

# macOS metadata
##########################
.Spotlight-V100
.Trashes

# macOS Finder tags
##########################
.metadata_never_index
.fseventsd
